#art{
    display: table;
}
.row{
    display:table-row;
}
.pixel{
    display: table-cell;
    width:50px;
    height:50px;
    border:3px solid black;
    margin:10px;
    background-color: white;
}
button{
    display: inline-block;
    width:50px;
    height:50px;
    border:3px solid black;

}
